<web-app>

    <servlet>
        <servlet-name>BuildingServlet</servlet-name>
        <servlet-class>drunk.homebrew.forge.of.empires.app.ui.BuildingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BuildingServlet</servlet-name>
        <url-pattern>/EventBuildings</url-pattern>
    </servlet-mapping>

    <!-- -->
</web-app>