<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <title>Hier könnte Ihre Werbung stehen!</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
    <title>Titel der Seite | Name der Website</title>
    <style>
        .wrapper { display: grid;grid-template-columns: 40% 60%;gap: 3px;}.input { grid-column-start: 1; grid-column-end: 2; place-self: right; }.output { grid-column-start: 2; grid-column-end: 3; align-content: center; }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="input">
        <form action="EventBuildings" name="buildings" id="buildings">
            <ul th:each = "building, iterCount : ${eventBuildings}">
                <li><label th:utext="${building.getName()} "> </label> <input type="number" value="0" id= "" th:attr="id=${building.getId()}" size="1">
                    <label>Galaxiebonus </label> <input type="number" th:id="'Galaxiebonus.' + ${iterCount.count}" value="0" size="1" ></li>
            </ul>


            <!-- INSERT_HERE -->
            <input type="Button" id="submitButton" onclick="submitJson()" value="Submit" />
        </form>
    </div>

    <div id="output" class="output">Ausgabe</div>

    <script>const form = document.querySelector('form');
    form.addEventListener('submit', event => {
        event.preventDefault()
    });

    class Building {
        constructor(id, count, bonus) {
            this.id = parseInt(id);
            this.count = parseInt(count);
            this.bonus = parseInt(bonus);
        }
    }

    function submitJson() {
        var dataForm = document.getElementById("buildings");
        var dataInArray = [];
        for (let element of dataForm.elements) {
            let shortId = element.id;
            shortId = shortId.split(".", 1);
            if (shortId != "Galaxiebonus" && shortId != "submitButton") {
                dataInArray.push(new Building(element.id, element.value, document.getElementById("Galaxiebonus." + element.id).value));
            }
        }

        var dataJson = JSON.stringify(dataInArray);
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
                document.getElementById("output").innerHTML = this.responseText;
            }
        };

        xhr.open("POST", "building", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(dataJson);
    }

    document.getElementById("buildings").onsubmit = function () {
        location.reload(true);
    }
    </script>
</div>
</body>
</html>
